body {
  margin: 0;
  background-image: url(../record.png);
  background-repeat: repeat;
}

.header {
  background-color: #0F1134;
  color: #FBE178;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 3em;
  padding: 1em;
}

.main {
  background-color: #92A6AD;
  padding: 1em;
}

.questions {
  background-color: #92A6AD;
  padding: 2em;
  margin-top: 4em;
}
